.snd-title{
    margin-top: 5rem;
}
.second-title{
    width: 34rem;
    text-align: center;

}
.second-title h3{
    color: #00b39b;

}
.second-title p{
    color: #747474;
    margin-top: 1.5rem;

}